<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Калькулятор</title>
</head>
<body>
<h3>Вычисление сопротивления электрической цепи</h3>
<div style="display:inline-block" align="right">
    Величина первого сопротивления (Ом) -> <input id="r1" type="text"><br>
    Величина второго сопротивления (Ом) -> <input id="r2" type="text"><br>
    Сопротивление цепи (Ом) -> <input id="r" type="text" disabled><br>
    <button onclick="calculate()">Выполнить</button>
    <button onclick="reset()">Очистить</button>
    <br>
    <a href="/">Вернуться в главное окно</a>

</div>

<script>

    let r1 = document.getElementById('r1');
    let r2 = document.getElementById('r2');
    let r = document.getElementById('r');

    function calculate() {
        r.value = (1 / (1 / r1.value + 1 / r2.value)).toFixed(2);
    }

    function reset() {
        r1.value = "";
        r2.value = "";
        r.value = "";
    }

</script>

</body>

</html>
